* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  transition: 0.5s all;
}

body {
  background-image: url(/Gambar/background.webp);
}

#loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: white;
  position: fixed;
  z-index: 2;
}

.loader {
  border-radius: 50%;
  border: 1.5vh solid transparent;
  border-top-color: green;
  border-bottom-color: green;
  animation: rotate 2s infinite;
  padding: 7.5vh;
}

@keyframes rotate {
  from {
    rotate: 0turn;
  }

  to {
    rotate: 1turn;
  }
}

nav {
  height: 10vh;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
}

.nav-logo img {
  height: 10vh;
}

.nav-links ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5vh;
}

.nav-links a {
  text-align: center;
  color: black;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  font-size: 2.65vh;
}

.nav-links a:hover {
  color: green;
}

.nav-links-mobile {
  display: none;
  justify-content: center;
  align-items: center;
  gap: 2vh;
}

.nav-links-mobile a {
  color: black;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 2.25vh;
}

.title {
  text-align: center;
  font-size: 42px;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

span {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

form {
  padding: 10vh 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5vh;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 2.5vh;
}

.form-tanggal {
  display: flex;
  flex-direction: column;

  gap: 2.5vh;
}

.form-daerah {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2.5vh;
}

.form-other {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  gap: 2.5vh;
}

form [type="text"] {
  width: 100vh;
  height: 5vh;
  padding: 20px;
  font-size: 25px;
}

form [type="date"] {
  width: fit-content;
  height: fit-content;
  padding: 10px;
  font-size: 20px;
}

form [type="number"] {
  width: 100vh;
  height: 5vh;
  padding: 20px;
  font-size: 25px;
}

form [type="submit"] {
  width: 25vh;
  height: fit-content;
  padding: 10px;
  font-size: 18px;
  color: white;
  background-color: green;
  border: 1px solid green;
  border-radius: 5px;
}

form [type="submit"]:hover {
  color: black;
  background-color: transparent;
}

footer {
  min-height: 50vh;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vh;
  padding-top: 5vh;
}

.footer-profile {
  display: flex;
  flex-direction: column;
  gap: 2.5vh;
}

.footer-profil {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.footer-profil span {
  font-size: 5vh;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.footer-profil p {
  font-size: 2.65vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

iframe {
  min-height: 50vh;
}

.footer-social {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.footer-social span {
  font-size: 5vh;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.footer-social a {
  font-size: 2.65vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

@media (max-width: 50em) {
  * {
    text-align: center;
  }

  .nav-logo img {
    width: 25vh;
  }

  .nav-links-mobile {
    display: flex;
  }

  .nav-links ul {
    display: none;
  }

  form [type="text"],
  form [type="date"],
  form [type="number"] {
    width: 100%;
  }

  footer {
    flex-direction: column;
  }

  iframe {
    width: 45vh;
  }

  .footer-profil p {
    font-size: 1.55vh;
    width: 100%;
  }
}
